<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test Document</title>
  </head>
  <body>
    <h1>This is a test.</h1>
    <img src="https://placehold.co/400" alt="img1" />
  </body>
</html>
