<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>EJS</title>
  </head>
  <body>
    <h1>✅ this is a test-1. ✅</h1>
    <%- include('test-2') -%> <%- include('test-3') -%>
  </body>
</html>
